.margin {
  width: 1190px;
  margin: 0 auto; }

#banner {
  height: 450px; }
  #banner .margin {
    position: relative; }
    #banner .margin .right {
      float: left;
      width: 200px;
      height: 450px;
      background: #f7fcff; }
      #banner .margin .right ul li {
        height: 45px;
        font: 12px/45px "";
        color: #68676f;
        padding-left: 37px;
        cursor: pointer; }
        #banner .margin .right ul li i {
          float: left;
          display: inline-block;
          margin: 13px 8px 0 0;
          width: 17px;
          height: 17px;
          background: url(../images/tubiao.png) no-repeat; }
        #banner .margin .right ul li div {
          width: 810px;
          height: 450px;
          display: none;
          background: rgba(200, 200, 200, 0.6);
          position: absolute;
          left: 200px;
          top: 0; }
      #banner .margin .right ul li:nth-child(1) i {
        background-position: 0 0; }
      #banner .margin .right ul li:nth-child(1):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(1):hover i {
          background-position: -17px 0; }
      #banner .margin .right ul li:nth-child(2) i {
        background-position: 0 -17px; }
      #banner .margin .right ul li:nth-child(2):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(2):hover i {
          background-position: -17px -17px; }
      #banner .margin .right ul li:nth-child(3) i {
        background-position: 0 -34px; }
      #banner .margin .right ul li:nth-child(3):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(3):hover i {
          background-position: -17px -34px; }
      #banner .margin .right ul li:nth-child(4) i {
        background-position: 0 -51px; }
      #banner .margin .right ul li:nth-child(4):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(4):hover i {
          background-position: -17px -51px; }
      #banner .margin .right ul li:nth-child(5) i {
        background-position: 0 -68px; }
      #banner .margin .right ul li:nth-child(5):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(5):hover i {
          background-position: -17px -68px; }
      #banner .margin .right ul li:nth-child(6) i {
        background-position: 0 -85px; }
      #banner .margin .right ul li:nth-child(6):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(6):hover i {
          background-position: -17px -85px; }
      #banner .margin .right ul li:nth-child(7) i {
        background-position: 0 -102px; }
      #banner .margin .right ul li:nth-child(7):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(7):hover i {
          background-position: -17px -102px; }
      #banner .margin .right ul li:nth-child(8) i {
        background-position: 0 -119px; }
      #banner .margin .right ul li:nth-child(8):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(8):hover i {
          background-position: -17px -119px; }
      #banner .margin .right ul li:nth-child(9) i {
        background-position: 0 -136px; }
      #banner .margin .right ul li:nth-child(9):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(9):hover i {
          background-position: -17px -136px; }
      #banner .margin .right ul li:nth-child(10) i {
        background-position: 0 -153px; }
      #banner .margin .right ul li:nth-child(10):hover {
        background: #dc1e22 url(../images/youjian.png) no-repeat 154px center; }
        #banner .margin .right ul li:nth-child(10):hover i {
          background-position: -17px -153px; }

#banner {
  position: relative; }
  #banner .margin .imgbox img {
    width: 810px;
    height: 450px;
    position: absolute;
    left: 200px;
    top: 0; }
