.margin{width:1190px;margin:0 auto;}

#banner{
    height:450px;
    .margin{
        position: relative;
        .right{
            
            float:left;
            width:200px;
            height:450px;
            background:#f7fcff;   
            ul{
                li{
                    height:45px;
                    font:12px/45px "";
                    color:#68676f;
                    padding-left:37px;   
                    cursor: pointer;
                   i{
                       float:left;
                       display:inline-block;
                       margin:13px 8px 0 0;
                       width: 17px;
                       height:17px;
                       background: url(../images/tubiao.png) no-repeat;
                   }
                   
                    div{
                        width:810px;
                        height:450px;
                        display:none;
                        background: rgba(200, 200, 200, .6);
                        position: absolute;
                        left:200px;
                        top:0;
                    }
                }
                li:nth-child(1){
                    i{
                        background-position: 0 0;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px 0;
                        }
                    }
                }
                li:nth-child(2){
                    i{
                        background-position: 0 -17px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -17px;
                        }
                    }
                }
                li:nth-child(3){
                    i{
                        background-position: 0 -34px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -34px;
                        }
                    }
                }
                li:nth-child(4){
                    i{
                        background-position: 0 -51px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -51px;
                        }
                    }
                }
                li:nth-child(5){
                    i{
                        background-position: 0 -68px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -68px;
                        }
                    }
                }
                li:nth-child(6){
                    i{
                        background-position: 0 -85px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -85px;
                        }
                    }
                }
                li:nth-child(7){
                    i{
                        background-position: 0 -102px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -102px;
                        }
                    }
                }
                li:nth-child(8){
                    i{
                        background-position: 0 -119px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -119px;
                        }
                    }
                }
                li:nth-child(9){
                    i{
                        background-position: 0 -136px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -136px;
                        }
                    }
                }
                li:nth-child(10){
                    i{
                        background-position: 0 -153px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -153px;
                        }
                    }
                }
            }
             // li:nth-child(2){
                //     @extend li:nth-child(1){
                //         i{
                //             background-position: -17px -17px;
                //         }
                //     }
                // }
                // li:nth-child(3){
                //     @extend li:nth-child(1){
                //         i{
                //             background-position: -17px -34px;
                //         }
                //     }
                // }
                // li:nth-child(4){
                //     @extend li:nth-child(1){
                //         i{
                //             background-position: -17px -51px;
                //         }
                //     }
                // }
                // li:nth-child(5){
                //     @extend li:nth-child(1){
                //         i{
                //             background-position: -17px -51px;
                //         }
                //     }
                // }
                // li:nth-child(6){
                //     @extend li:nth-child(1){
                //         i{
                //             background-position: -17px -85px;
                //         }
                //     }
                // }
                // li:nth-child(7){
                //     @extend li:nth-child(1){
                //         i{
                //             background-position: -17px -102px;
                //         }
                //     }
                // }
                // li:nth-child(8){
                //     @extend li:nth-child(1){
                //         i{
                //             background-position: -17px -119px;
                //         }
                //     }
                // }
                // li:nth-child(9){
                //     @extend li:nth-child(1){
                //         i{
                //             background-position: -17px -136px;
                //         }
                //     }
                // }
                // li:nth-child(10){
                //     i{
                //         background-position: 0 -68px;
                //     }
                //     &:hover{
                //         background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                //         i{
                //             background-position: -17px -153px;
                //         }
                //     }
                // }
            
        }
    }
}
#banner{
    position: relative;
    .margin{
        .imgbox img{
        
            width:810px;
            height:450px;
            position: absolute;
            left:200px;
            top:0;
        }
    }
}


