.margin{width:1190px;margin:0 auto;}

#banner{
    height:450px;
    .margin{
        position: relative;
        .cai{
            width:810px;
            height:450px;
            display:none;
            z-index: 500;
            
            background:rgba(255, 255, 255, .95);
            position: absolute;
            left:200px;
            top:0;
            box-sizing: border-box;
            padding:6px 40px 0 14px;

            p{
                margin-top:5px;
                color:#d41f2a;
                font:12px/2 "";
                border-bottom:1px dashed #ccc;
                a{
                    color:#000;
                    float:right;
                    &:hover{
                        color:#d41f2a;
                        text-decoration: underline
                    }
                }
            }

            ul{
               width:764px;
                
                li{
                    float:left;
                    padding: 0 6px;
                    margin-top:2px;
                    border-left:1px solid #ccc;
                    a{
                        &:hover{
                            color:#d41f2a;
                            text-decoration: underline
                        }
                    
                    }
                }
            }
        }
        .imgbox{
            img:nth-child(1){
                z-index: 1;
            }
        }
        .left{
            float:left;
            width:200px;
            height:450px;
            background:#f7fcff;   
            opacity: .95;
            ul{
                li{
                    height:45px;
                    font:12px/45px "";
                    color:#68676f;
                    padding-left:37px;   
                    cursor: pointer;
                   i{
                       float:left;
                       display:inline-block;
                       margin:13px 8px 0 0;
                       width: 17px;
                       height:17px;
                       background: url(../images/tubiao.png) no-repeat;
                   }
                }
                li:nth-child(1){
                    i{
                        background-position: 0 0;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px 0;
                        }
                    }
                }
                li:nth-child(2){
                    i{
                        background-position: 0 -17px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -17px;
                        }
                    }
                }
                li:nth-child(3){
                    i{
                        background-position: 0 -34px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -34px;
                        }
                    }
                }
                li:nth-child(4){
                    i{
                        background-position: 0 -51px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -51px;
                        }
                    }
                }
                li:nth-child(5){
                    i{
                        background-position: 0 -68px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -68px;
                        }
                    }
                }
                li:nth-child(6){
                    i{
                        background-position: 0 -85px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -85px;
                        }
                    }
                }
                li:nth-child(7){
                    i{
                        background-position: 0 -102px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -102px;
                        }
                    }
                }
                li:nth-child(8){
                    i{
                        background-position: 0 -119px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -119px;
                        }
                    }
                }
        
                li:nth-child(9){
                    i{
                        background-position: 0 -136px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -136px;
                        }
                    }
                }
                li:nth-child(10){
                    i{
                        background-position: 0 -153px;
                    }
                    &:hover{
                        background:#dc1e22 url(../images/youjian.png) no-repeat 154px center;
                        i{
                            background-position: -17px -153px;
                        }
                    }
                }
            }  
        }
    }
}
#banner{
    position: relative;
    background: #4bbffc;
    .margin{
        .imgbox img{
            width:810px;
            height:450px;
            position: absolute;
            left:200px;
            top:0;
        }
        .right{
            width:190px;
            height:225px;
            position: absolute;
            left:1010px;
            background: #fff;
            overflow: hidden;
            img{
                position: absolute;
                top:0;
            }
        }
        .bottom{
            width:190px;
            height:225px;
            position: absolute;
            left:1010px;
            top:225px;
            background: #fff;
            overflow: hidden;
            img{
                position: absolute;
                top:0;
            }
        }
    }

}
#special{
    height: 290px;
    background:#f5f5f5;
    padding-top:30px;
    .margin{
        
        .left{
            width:595px;
            height: 290px;
            float:left;
            p{
               height:38px;
               font:16px/38px "";
               color:#323232;
               padding-left:14px;
               position: relative;
               &:after{
                   content: "";
                   display:block;
                   width:5px;
                   height:18px;
                   position: absolute;
                   left:0;
                   top:9px;
                   background:#f65a43
               }
            }
            img{
                display:block;
                border-top:1px solid #f65a43;
            }
        }
        .right{

            width:595px;
            height: 290px;
            float: left;
            .top{
                height:38px;
                ul{
                    width:375px;
                
                    display:flex;
                    li{
                        width:125px;
                        cursor: pointer;
                        height:38px;
                        font:16px/38px "";
                        color:#28313a;
                        text-align:center;
                        position: relative;
                        
                        &::before{
                            content: "";
                            display:block;
                            width:1px;
                            height:18px;
                            background:#ccc;
                            position: absolute;
                            top:10px;
                            left:124px;
                        }
                    }
                }
            }
            .bottom{
                width:595px;
                height:250px;
                border-top:1px solid #f65a43;
                border-bottom:1px solid #dbdbdb;
                .l{
                    float:left;
                    width:197px;
                    height:100%;
                    border-right:1px solid #e1e1e1;
                    a{
                        display:block;
                        width:167px;
                        height:225px;
                        padding-left: 30px;
                        img{
                            width:140px;
                            height:140px;
                            display:block;
                            margin-top:25px; 
                        }
                        h3{
                            font:12px/38px "";
                            color:#000;
                        }
                        p{
                            font:14px/30px "";
                            color:#d22600;
                            b{
                                color:#999;
                                font:12px/38px "";
                            }
                            position: relative;
                        }
                        p:after{
                            content: "";
                            display:block;
                            width:64px;
                            height:1px;
                            background: #999;
                            position: absolute;
                            left:74px;
                            top:20px;
                        }
                    }
                }
                .c{
                    @extend .l;
                    // float:left;
                    // width:197px;
                    // height:100%;
                    // border-right:1px solid #e1e1e1;
                    // a{
                    //     display:block;
                    //     width:100%;
                    //     height:100%;
                    // }
                }
                .r{
                    @extend .l;
                    border-right:none;
                    
                    // float:left;
                    // width:197px;
                    // height:100%;
                    // a{
                    //     display:block;
                    //     width:100%;
                    //     height:100%;
                    // }
                }
            }
        }
    }

}
#shopping{
    height:442px;
    padding-top:30px;
    background:#f5f5f5;
    .margin{
        .right{
            float:right;
            width:594px;
            height:322px;
            margin-bottom:30px;
            .r-left{
                width:400px;
                height:322px;
                float: left;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                img:nth-child(1){
                    margin-bottom: 3px;
                }
                img:nth-child(2){
                    margin-bottom: 3px;
                }
                img{
                    &:hover{
                        -webkit-filter:brightness(.8)
                    }
                }
            }
            .r-right{
                width:192px;

                height:322px;
                float: right;
                .r-r-top{
                    height:40px;
                    background: #e0e0e0;
                    ul{
                        width:100%;
                        height:100%;
                        display:flex;
                        li{
                            cursor: pointer;
                            width:64px;
                            height:40px;
                            background:e0e0e0;
                            color:#646464;
                            font:16px/40px "";
                            text-align: center;
                            &:nth-child(3){
                                color:#000;
                            }
                        }
                    }
                }
            
                .r-r-bottom{
                    width:192px;
                    height:283px;
                    ul{
                        li{
                            a{
                                display:block;
                                width:180px;
                                height:39px;
                                border-bottom:1px solid #e0e0e0;
                                font:12px/39px "";
                                color:#9f9f9f;
                                margin-left:3px;
                                &:hover{
                                    cursor: pointer;
                                    color:#d41f2a;
                                }
                            }
                        }
                    }
                }
            }
        }
        .img{
            height:90px;
        }
    }
}

main{
    height:3164px;
    padding-top:30px;
    background:#f5f5f5;
    
    .margin{
        
        .ff{
            height:422px;
            margin-bottom:30px;
            position: relative;
            .f-left{
                width:192px;
                height: 422px;
                float:left;
                position: relative;
                overflow: hidden;
                .img img{
                    border-top:1px solid #cbccd0;
                    position: absolute;
                    top:80px;
                    left:0;

                }
                ul{
                    position: absolute;
                    bottom:0;
                    width:192px;
                    height:113px;
                    display:flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    li{
                        width:96px;
                        height:37px;
                        font:12px/37px "";
                        text-align: center;
                    }
                }

            }
            .f1-4{
                float: left;
                margin-left: 1px;
            }
            .right{
                width:597px;
                height:422px;
                float:right;
                background: #fff;
                .r-r{
                    float:left;
                    width:199px;
                    height:422px;
                   
                    .r-r-c{
                        width:199px;
                        height:54px;
                        text-align:center;
                    }
                    img:hover{
                        transition:.3s linear all;
                        transform: translate(-7px,0)
                    }
                }
            }
        }
    }
}

#hot{
    height:300px;
    background: #fff;
    .margin{
        h1{
            width:100%;
            height:58px;
            font:22px/58px "";
            color:#7e7e7e;
        }
        ul{
            border-top:1px solid #f9f9f9;
            border-left:1px solid #f9f9f9;
            width:1182px;
            height:242px;
            li{
                float:left;
                a{  
                    display:block;
                    width:146px;
                    height:80px;
                    border-right:1px solid #f9f9f9;
                    border-bottom:1px solid #f9f9f9;
                    position: relative;
                    img{
                        position: absolute;
                        left:0;
                        right:0;
                        top:0;
                        bottom:0;
                        margin:auto
                    }
                }
                
            }
        }
    }
}
#nn{
    width: 30px;
    position: fixed;
    left: 250px;
    top: 400px;
    display:none;
    background: #b6b6b6;
    li{
        height: 40px;
        line-height: 30px;
        text-align: center;
        font-size: 12px;
        color: #fff;
        cursor: pointer;
        border-top: 1px solid #b6b6b6;
    }
}
#sou{
    display:none;

    width:100%;
    height:50px;
    background:rgba(0, 0, 0, .8);
    position:fixed;
    top:0;
    left:0;
    z-index:5;
    .margin{
        img{
            display:block;
            float:left;
            margin:8px 0 0 44px;
        }
        #txt2{
            float:left;
            display:block;
            width:522px;
            height:30px;
            border:3px solid #c91919;
            margin:5px 0 0 95px;
            padding-left:10px;
            color:#828282;
        }
        #btn2{
            border:none;
            float:left;
            display:block;
            width:68px;
            height:36px;
            background:#c91919;
            font:16px/36px "";
            color:#fff;
            margin-top:5px;
        }
    }
}


        
